body {
    background-color: #0B0B0C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.blue {
    border-color: #345dcf;
    background-color: #9bcbdc;
}

div.pink {
    border-color: #cf346c;
    background-color: #ea7ecb;
}

div.green {

    border-color: #299d25;
    background-color: #82ea7e;
}

div.yellow {
    border-color: #b0a11d;
    background-color: #eadf7e;
}

div.red {
    border-color: #a92828;
    background-color: #ea7e7e;
}

div {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-radius: 30px;
    border-width: 5px;
    -webkit-box-shadow: inset 2px 2px #000000AA;
    -moz-box-shadow: inset 2px 2px #000000AA;
    box-shadow: inset 2px 2px #000000AA;
}

a {
    margin: 20px 0px;
    width: 80%;
    color: black;
    text-decoration: none;
}

div:hover {
    transform: scale(1.01);
}