:root {
    --bg-image: url('../images/background.png');
    --paper: #f2d9f2;
    --paper-texture: url('../images/paper.png');
    --ink: black;
    --shadow: #00000088;
}

body {
    background-image: var(--bg-image);
    background-color: var(--paper);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    gap: 30px;
}

hr {
    color: var(--ink);
    border: 3px var(--ink);
    border-style: solid;
    width: 100%;
    border-radius: 3px;
    margin: 10px;
}


/*Page of the form (best used on <form> tag)*/
.page {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: var(--ink);
    background-color: var(--paper);
    background-image: var(--paper-texture);
    width: 80%;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 6px;

    -webkit-box-shadow: 2px 2px var(--shadow);
    -moz-box-shadow: 2px 2px var(--shadow);
    box-shadow: 2px 2px var(--shadow);
    gap: 30px;
}

/*used for every separate point*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.horizontal {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.bordered {
    border: solid var(--ink) 6px;
    border-radius: 15px;
}

.vertical {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.label {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 10px;
    border: solid var(--ink) 6px;
    border-radius: 15px;
}




.page h1,
.page h2,
.page h3 {
    padding: 0;
    margin: 0;
}

.pointer {
    cursor: pointer;
}




/*images*/
.label>img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-color: var(--ink);
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    aspect-ratio: 2 / 3;
}

.label:has(select)>img {
    aspect-ratio: 1 / 1;
}

.label:has(select) {
    padding: 10px;
}

.label:has(img) {
    border-top: none;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.vertical label:last-child {
    border-bottom: none;
    margin-bottom: 0;
    border-left: none;
    border-right: none;
}


/*Radio Button*/
input[type="radio"] {
    flex: 0 0 auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border: 3px solid var(--ink);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

input[type="radio"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: var(--ink);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}



/*Checkbox*/
input[type="checkbox"] {
    flex: 0 0 auto;
    position: relative;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 3px solid var(--ink);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: var(--ink);
    border-radius: 2px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

input[type="checkbox"]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}



/*Text input*/
input[type="text"],
input[type="number"] {
    display: flex;
    text-align: center;
    position: relative;
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 2px dotted var(--ink);
    background-color: transparent;
    outline: none;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.2s ease-in-out;
    margin-bottom: 10px;
}

select {
    display: flex;
    text-align: center;
    position: relative;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px dotted var(--ink);
    background-color: transparent;
    outline: none;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.2s ease-in-out;
    cursor: pointer;
}



/* Invalid state */
input[type="text"]:invalid,
input[type="number"]:invalid {
    border-bottom: 2px dotted red;
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}


/* File input */
input[type="file"] {
    opacity: 0;
    position: relative;
    cursor: pointer;
}

.file-input-label {
    justify-content: center;
    align-items: center;
    color: var(--ink);
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 0;
    border: 3px solid var(--ink);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.file-input-label:hover {
    background-color: var(--shadow);
}

#imagePreview img {
    max-height: 100px;
    border-radius: 8px;
    border: 6px solid var(--ink);
}

.file-name {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: var(--ink);
    font-weight: bold;
}

/*panic button*/
#panicBtn {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: var(--paper);
    border: solid var(--ink);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px var(--shadow);
    -moz-box-shadow: 2px 2px var(--shadow);
    box-shadow: 2px 2px var(--shadow);
    transition: opacity 0.3s ease, background-color 0.2s ease;
    padding: 5px;
}

#panicBtn.panic-mode {
    opacity: 0.01;
}

#panicBtn.panic-mode:hover {
    opacity: 1;
}

#panicBtn:hover {
    -webkit-box-shadow: 1px 1px var(--shadow);
    -moz-box-shadow: 1px 1px var(--shadow);
    box-shadow: 1px 1px var(--shadow);
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    transform: scale(1.01);
}


@media only screen and (max-width: 768px) {
    .horizontal {
        flex-direction: column;
        align-items: center;
        width: auto;

    }


    #panicBtn {
        top: auto;
        bottom: 10px;
        left: 10px;
    }

    #imagePreview img {
        max-height: 100px;
    }
}